.matter .form-check-input[type=checkbox] {
    display: none;
}

.matter {
    padding: .375rem;
}

.input-title {
    padding-left: .375rem;
}

.form-body {
    height: 100%;
}

.form-body .matter-name {
    margin-bottom: 0;
}

.matter .label {
    display: inline-block;
    height: 100%;
    padding: 1rem;
    border: 5px hidden;
    transition: border-color .15s ease-in-out
}

.matter .form-check-input+.label {
    width: 100%;
}

.matter input[type=checkbox]:checked+.label {
    border-radius: .375rem;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
}

.matter-check {
    display: inline-block;
    color: #012970;
    margin-bottom: .85rem;
    border-radius: .375rem;
}

.fa-solid {
    margin-right: 0.5rem!important;
}

.workload-label {
    padding-left: .375rem;
}

.select-form {
    max-width: 305px;
}

@media (min-width:767.98px) {
    .matter-check {
        max-width: 125px;
        min-width: 125px;
    }
    .matter .label {
        font-size: 15px;
    }
}

@media (min-width:1200px) {
    .matter-check {
        max-width: 105px;
        min-width: 105px;
    }
    .matter .label {
        padding: .5rem;
    }
}

@media (min-width:1270px) {
    .matter-check {
        max-width: 115px;
        min-width: 115px;
    }
    .matter .label {
        padding: .75rem;
    }
}

@media (min-width:1399.98px) {
    .matter-check {
        max-width: 145px;
        min-width: 145px;
    }
}

@media (min-width:1499.98px) {
    .matter .label {
        font-size: 17px;
    }
}