.register-card {
    padding: 20px;
}

.register-card .card-title {
    padding-top: 0;
}

#student-register {
    width: 100px;
    max-width: 220px;
}

#teacher-register {
    width: 100px;
    max-width: 220px;
}

#add-student {
    width: 50px;
    height: 50px;
    max-width: 220px;
    max-height: 70px;
    background-image: url('../../imgs/add-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-sizing: border-box;
}

#add-teacher {
    width: 50px;
    height: 50px;
    max-width: 220px;
    max-height: 70px;
    background-image: url('../../imgs/add-icon.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-sizing: border-box;
}

#add-icon {
    width: 50px;
}

.student-img {
    flex-grow: 1;
}

.add-card {
    flex-grow: 0.25;
}

#add-link {
    text-align: end;
}

.modal-confirm {
    color: #636363;
    width: 325px;
}

.registration-alert {
    display: none;
    margin-top: 1rem;
}