.pagetitle {
    padding-bottom: 1rem;
}

.table-striped {
    background-color: #fffff9;
    vertical-align: middle;
    border-color: transparent;
}

.title {
    color: #ffffff;
    background-color: #5f6fff;
    vertical-align: middle;
    height: 66px;
    margin-bottom: 0px;
}

.table-striped .student-tr.name {
    transition: 0.5s;
}

.table-striped .student-tr.name:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    background-color: #999999;
}

.name a {
    color: #000000;
    transition: 0.5s;
}

.btn img.x-icon {
    width: 35px;
    transition: 00.5s;
    padding: 0px;
}

.btn img.x-icon:hover {
    transform: scale(1.25);
}

.register-student {
    display: inline-flex;
    margin: 0.75rem 0 0.75rem 0;
}

.register-student a {
    color: #ffffff;
    background-color: #5f6fff;
    padding: 1rem;
    border-radius: 0.25rem;
}