.table-striped {
    background-color: #fffff9;
    vertical-align: middle;
    border-color: transparent;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fdfdd5;
}

.title {
    color: #ffffff;
    background-color: #5f6fff;
    vertical-align: middle;
    height: 66px;
    margin-bottom: 0px;
}

.table-striped .student-tr.name {
    transition: 0.5s;
}

.table-striped .student-tr.name:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    background-color: #ffffff;
}

.name a {
    color: #000000;
    transition: 0.5s;
}

.btn img.x-icon {
    width: 35px;
    transition: 00.5s;
    padding: 0px;
}

.btn img.x-icon:hover {
    transform: scale(1.25);
}